/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import 'katex/dist/katex.css';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;

    &:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px var(--t-pink-bg);
        transition: box-shadow 0.10s;
    }
}

::selection {
    background-color: color-mix(in srgb, var(--t-pink-bg), transparent 70%);
    // color: color-mix(in srgb, var(--t-pink-bg), currentcolor 80%);
}

#__nuxt {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
    max-width: 50rem;
    margin: auto;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-variant-ligatures: normal;
    background-color: var(--t-bg);
    color: var(--t-text);
    transition: color .16s, background-color .16s;
}

a,
a:visited {
    transition: color .16s, background-color .16s;
    color: var(--t-pink-text);
    padding: .125em .25em;
    margin: -.125em -.25em;
    border-radius: $radius;
}

a:hover,
a:focus {
    background-color: var(--t-pink-bg);
    color: var(--c-light-bg);

}

@include media-query($on-laptop + $spacing-unit) {
    #__nuxt {
        margin: 0 $half-spacing-unit;
    }
}

blockquote {
    @include relative-font-size(0.875);
    transition: color .16s, background-color .16s, border-inline-start .16s;
    padding: $quarter-spacing-unit $half-spacing-unit;
    line-height: 1.5;
    border-inline-start: $radius solid;
    background-color: var(--t-bg-el1);
    border-radius: $radius;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
}

input,
button,
textarea,
select {
    font: inherit;
    color: var(--t-text);
    background-color: var(--t-bg-el1);
    border: 0.0625rem solid;
    border-radius: $half-radius;
}

button,
input[type=reset],
input[type=submit],
select {
    transition: color .16s, background-color .16s;

    &:hover {
        background-color: var(--t-text);
        color: var(--t-bg);
    }

    &:active {
        background-color: var(--t-pink-bg);
        border: 0.0625rem solid var(--t-pink-bg);
        color: var(--t-text);
    }
}


ul,
ol {
    padding-left: 1.25em;
}

// ul {
//     list-style-type: '-  ';
// }

// for markdown content
ul.contains-task-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $quarter-spacing-unit;
}

code,
kbd {
    font-family: $mono-font-family;
    font-size: 0.8em;
}

pre {
    font-family: $mono-font-family;
    background-color: var(--t-bg-el1);
    // overflow: scroll;
    padding: $half-spacing-unit;
    // margin: $half-spacing-unit 0;
    border-radius: $radius;
}

img,
video {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-radius: $radius;

    // does not work :(
    // // hack to get rounded corners
    // border: hidden;
    // box-shadow: 0 0 0 0.0625rem var(--t-text);
}


th, td {
    border: 0.0625rem solid;
    padding: $quarter-spacing-unit;
}

tr:nth-child(odd) {
    background-color: var(--t-bg-el1);
}

tr:nth-child(even) {
    background-color: var(--t-bg-el2);
}

thead th:empty {
    display: none;
}

.iconify {
    // background-color: var(--t-text) !important;
    vertical-align: sub;
}

a .link-icon {
    vertical-align: middle;
    padding: 0;
    width: .8em;
    height: .8em;
    margin-left: 0em;
}

.hstack {
    display: flex;
    flex-direction: row;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: $quarter-spacing-unit;
}

.gap-2 {
    gap: $half-spacing-unit;
}

.gap-3 {
    gap: $spacing-unit;
}

.el1 {
    background-color: var(--t-bg-el1);
}

.el2 {
    background-color: var(--t-bg-el2);
}

.devwarn, .devinfo {
    padding: $quarter-spacing-unit;
    border-radius: $radius;
}

.devwarn {
    background-color: red;
    color: white;
}

.devinfo {
    background-color: gold;
    color: black;
}
