@use '@picocss/pico/scss/colors' as *;

// :root {
//     --c-light-bg: hsl(334, 100%, 94%);
//     --c-light-text: hsl(342.25, 24.75%, 11.67%);
//     --c-light-pink: hsl(328.12, 99.82%, 47.52%);
//     --c-dark-bg: hsl(341.93, 29.12%, 9.64%);
//     --c-dark-text: hsl(344.00, 70%, 86%);
//     --c-dark-pink: hsl(328.22, 99.8%, 44.63%);
// }

:root {
    --c-light-bg: #{$fuchsia-100};
    --c-light-bg-el1: #{$fuchsia-50};
    --c-light-bg-el2: #{$fuchsia-100};
    // --c-light-text: #{$fuchsia-950};
    --c-light-text: #{$black};
    // --c-light-pink: #{$pink-450};
    --c-light-pink: #ff0060;
    --c-dark-bg: #{$zinc-950};
    --c-dark-bg-el1: #{$zinc-900};
    --c-dark-bg-el2:#{$zinc-850};
    --c-dark-text: #{$pink-50};
    // --c-dark-pink: #{$pink-450};
    --c-dark-pink: #FF4090;
}

@mixin __light {
    --t-bg: var(--c-light-bg);
    --t-bg-el1: var(--c-light-bg-el1);
    --t-bg-el2: var(--c-light-bg-el2);
    --t-text: var(--c-light-text);
    --t-pink-bg: var(--c-light-pink);
    --t-pink-text: var(--c-light-pink);
}

@mixin __dark {
    --t-bg: var(--c-dark-bg);
    --t-bg-el1: var(--c-dark-bg-el1);
    --t-bg-el2: var(--c-dark-bg-el2);
    --t-text: var(--c-dark-text);
    --t-pink-bg: var(--c-dark-pink);
    --t-pink-text: var(--c-dark-pink);
}

// .light-mode {
//     @include __light;
// }

// .dark-mode {
//     @include __dark;
// }

:root {
    @include __light;
}

// dark theme
@media (prefers-color-scheme: dark) {
    :root {
        @include __dark;
    }
}